# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.node_modules
/.pnp
.pnp.js
.idea

# logs
*.log
*.log*
logs
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing & cache
/coverage
.vite
.turbo
*.turbo
scratch